<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/') %]leaflet/leaflet.css">
<script src="[% c.uri_for('/static/') %]leaflet/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.3/leaflet-image.js'></script>
